.amount{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
  color: white;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-weight: 200;
  &:hover {
    background-color: #8080801a;
  }
}