.contact{
    background-color: #121D31;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 100px;
    
}
.space{
    margin-bottom: 10px;
}

.contact iframe {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: none;  
    padding: 35px;
    
}
.contact .right {
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    padding: 50px;
    

} 
.contact .left {
    width: 80%;
    height: 80%;
    padding: 25px;


} 

.contact h1 {
    font-family: 'Roboto Condensed';
    font-size: 50px;
    font-weight: 700;
    
}
.contact p {
    font-size: 17px;
    margin-top: 20px;
    font-family: 'Roboto Condensed';
    font-weight:300;
}
.contact textarea ,
.contact input {

    width: 100%;
    padding: 15px;
    margin: 5px;
    color: black;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    
}
.contact .flexSB input:nth-child(1){
    margin-right: 10px;
    color: black;
}
.contact h3 {
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;color: white;
}
.contact span{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    word-spacing: 5px;
}
.primary-btn{
    width: 50%;
  padding: 20px;
  border: 1px solid #121D31;
  cursor: pointer;
  color: #121D31;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media screen and (maw-width: 768px) {
    .contact .container {
        flex-direction: column;
    }
    .contact iframe {
        height: 50vh;
    }
    .contact .row {
        width: 100%;
    }
    .contact{
        flex-direction: column;
    }
}